<div class="mt-5">
<div class="container py-5">
   <div class="jumbotron py-5 text-center bg-white">
      <img src="../../assets/Logo.png" height="150" class="mb-5">
      <hr>
      <h1 class="mb-5">Admin Dashboard</h1>
      <div class="list-group list-group-horizontal">
         
         <a routerLink="/managebuses" class="list-group-item list-group-item-action ">Manage Bus</a>
         <a routerLink="/manageroutes" class="list-group-item list-group-item-action ">Manage Routes</a>
         <a routerLink="/managetrips" class="list-group-item list-group-item-action ">Manage Trips</a>
         <a routerLink="/reservation-details" class="list-group-item list-group-item-action ">Booking Details</a>
       </div>
    </div>
</div>
</div>


