<div class="row py-3 justify-content-center">
    <div class="col-sm-8">
        <h1 class="display-5 text-center font-oswald">Change Password</h1>
         <hr>
        <form [formGroup]="changePasswordForm">
        
        <div class="form-group">
            <label>Old Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="OldPassword">
            </div>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="NewPassword">
            </div>
        </div>
        <div class="form-group">
            <label>New Confirm Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="NewConfirmPassword">
            </div>
        </div>
        <br>
        <button [disabled]="changePasswordForm.invalid || formInvalid" type="submit" class="btn btn-outline-danger btn-block" (click)="SubmitFormButton()">Change</button>
        </form>
        <div class="mt-2" [innerHTML]="formMessage">

        </div>
    </div>
 </div>