
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/dashboard" class="nav-link" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a  routerLink="/manageroutes" class="nav-link" type="button">Manage Routes</a>
        </li>
        
        <li class="nav-item">
          <a  routerLink="/managebuses" class="nav-link" type="button">Manage Buses</a>       
        </li>

        <li class="nav-item">
          <a  routerLink="/managetrips" class="nav-link" type="button">Manage Trips</a>
        </li>
      </ul>

<div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
          Analytics
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
         
         <a  routerLink="/frequent-routes" class="dropdown-item" type="button">Frequent Routes</a>
         <a  routerLink="/record-profit" class="dropdown-item" type="button">Last Month Record Profit</a>
         <a  routerLink="/reservation-details" class="dropdown-item" type="button">Reservation Details of Customers</a>
         <a  routerLink="/preferred-bus" class="dropdown-item" type="button">Most preferred Bus </a>
         <a  routerLink="" class="dropdown-item" type="button">Sign Out</a>
           
        </div>
      </div>
    </div>
    </div>
  </nav>

  <div class="container">
      <table class = "table table-bordered">
          <tr>
              <th>Id</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Admin</th>
              
             
              
          </tr>

          <tr *ngFor="let route of routes let i = index">
             
              <td>{{route.route.Id}}</td>
              <td>{{route.route.Source}}</td>
              <td>{{route.route.Destination}}</td>
              <td>{{route.route.Admin}}</td>
              
               <td>
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne">
                        <button class="btn btn-primary">Stops</button>
                      </button>
                    </h2>
                </div>

                <div [id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                        <table class="table table-bordered">
                           <tr>
                           
                            <th>Stop</th>
                            <th>Distance From Origin</th>
                            
                           </tr>
                           <tr  *ngFor="let stop of route.stops">
                               
                            
                            <td>{{stop.Stop1}}</td>
                            <td>{{stop.DistanceFromOrigin}}</td>
                           
                           </tr>
                        </table>
                    </div>
                        </div>
                </div>
                </div>
              </div>
                </td>
              
            
              </tr>
      </table>
  </div>

 