<div class="container">
    <div class="row mx-auto mt-2">
        <div class="col pt-3 pb-2 px-2 border">
            <div class="row text-center align-items-center">
                <div class="col-4 font-oswald">
                    <h4>{{onwardDetails.Details.FromStop.Place.City}}</h4>
                    <p>{{onwardDetails.Details.FromStop.Place.Name}} <br>
                    <small class="text-red">{{onwardDetails.Details.FromStop.DepartureTime | date:'dd-MMM  HH:mm'}}</small></p>
                    
                </div>
                <div class="col-4">
                    <span><i class="fas fa-arrow-right"></i></span><br>
                    <p class="text-red">{{onwardDetails.Details.DurationHours | number: '2.0'}}:{{onwardDetails.Details.DurationMins | number: '2.0'}} Hrs</p>
                    <p>(Rs. {{onwardDetails.Details.CostperSeat}})</p>
                </div>
                <div class="col-4 font-oswald">
                    <h4>{{onwardDetails.Details.ToStop.Place.City}}</h4>
                    <p>{{onwardDetails.Details.ToStop.Place.Name}} <br>
                    <small class="text-red">{{onwardDetails.Details.ToStop.ArrivalTime | date:'dd-MMM  HH:mm'}}</small></p>
                </div>
            </div>
        </div>
        <div class="col pt-3 pb-2 px-2 border" *ngIf="IsReturn">
            <div class="row text-center align-items-center">
                <div class="col-4 font-oswald">
                    <h4>{{returnDetails.Details.FromStop.Place.City}}</h4>
                    <p>{{returnDetails.Details.FromStop.Place.Name}} <br>
                    <small class="text-red">{{returnDetails.Details.FromStop.DepartureTime | date:'dd-MMM  HH:mm'}}</small></p>
                    
                </div>
                <div class="col-4">
                    <span><i class="fas fa-arrow-right"></i></span><br>
                    <p class="text-red">{{returnDetails.Details.DurationHours | number: '2.0'}}:{{returnDetails.Details.DurationMins | number: '2.0'}} Hrs</p>
                    <p>(Rs. {{returnDetails.Details.CostperSeat}})</p>
                </div>
                <div class="col-4 font-oswald">
                    <h4>{{returnDetails.Details.ToStop.Place.City}}</h4>
                    <p>{{returnDetails.Details.ToStop.Place.Name}} <br>
                    <small class="text-red">{{returnDetails.Details.ToStop.ArrivalTime | date:'dd-MMM  HH:mm'}}</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 border mt-3" *ngIf="!UserSignedIn && !IsGuestUser" > 
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="UserType" value="1"  [(ngModel)]="UserType">
            <label class="form-check-label" for="inlineRadio1">Sign In</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="UserType" value="2" [(ngModel)]="UserType">
            <label class="form-check-label" for="inlineRadio2">Proceed as guest</label>
          </div>
          <div *ngIf="UserType == '1'" class="mt-3">
            <a routerLink="/signin" class="btn btn-danger" type="button">Sign In</a>
        </div>

        <div *ngIf="UserType == '2'" class="mt-3">
            <form [formGroup]="GuestForm" (ngSubmit)="guestButtonClick()">
                <div class="row">
                  <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Email Id" formControlName="GuestUserEmail">
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Contact" formControlName="GuestUserContact">
                  </div>
                  <div class="col-md-2">
                      <button class="btn btn-danger" type="submit" [disabled]="GuestForm.invalid">Submit</button>
                  </div>
                </div>
              </form>
              <div class="alert alert-info mt-2 col-md-4" role="alert" *ngIf="GuestAlreadyUser">
                Email Id exists. Try Signing in.
              </div>
        </div>
    </div>
    <div class="px-5 py-2 border mt-3" *ngIf="UserSignedIn || IsGuestUser">
        <div class="row text-center">
        <div class="col">
            <h5> <i class="fas fa-envelope-open-text"></i> &nbsp;
            <span *ngIf="UserSignedIn">{{user.Email}}</span>
            <span *ngIf="IsGuestUser">{{GuestUserEmail.value}}</span></h5>
        </div>
        <div class="col">
            <h5><i class="fas fa-mobile-alt"></i> &nbsp;
            <span *ngIf="UserSignedIn">{{user.Contact}}</span>
            <span *ngIf="IsGuestUser">{{GuestUserContact.value}}</span></h5>
        </div>
    </div>
    </div>
    <div class="mt-3" *ngIf="UserSignedIn || IsGuestUser">
        <button class="btn btn-outline-danger" (click)="AddPassenger()">+ Add Passenger</button>
        
        <div class="mt-2 px-5 pt-3 pb-1 border" *ngIf="Passengers.length > 0">
            <app-passenger-detail [OnwardBusDetails]="onwardBusDetails" [ReturnBusDetails]="returnBusDetails"  [passengers]="Passengers" *ngFor="let passenger of Passengers; let i = index" [IsReturn]="IsReturn" [passenger]="Passengers[i]" (deletePassenger)="deletePassenger($event)">
                Loading
            </app-passenger-detail>
        </div>

        <div class="mt-3 px-5 pt-3 pb-1 border" *ngIf="Passengers.length > 0">
            <div class="row">
                <div class="col-8">
                    <p>Number Of Passengers: <strong>{{Passengers.length}}</strong></p>
                    <p>Total Cost (onward journey): <strong>&#8377; {{Passengers.length * onwardDetails.Details.CostperSeat}} /-</strong></p>
                    <p *ngIf="IsReturn">Total Cost (return journey): <strong>&#8377; {{Passengers.length * returnDetails.Details.CostperSeat}} /-</strong></p>
                </div>    
                <div class="col-4">
                    <button (click)="ProceedToPay()" *ngIf="!IsReturn" class="btn btn-success">Proceed to pay &#8377;{{ Passengers.length * onwardDetails.Details.CostperSeat}}</button>
                    <button (click)="ProceedToPay()" *ngIf="IsReturn"  class="btn btn-success">Proceed to pay &#8377;{{Passengers.length * returnDetails.Details.CostperSeat + Passengers.length * onwardDetails.Details.CostperSeat}}</button>
                    <p class="text-danger">
                        {{proceedToPayErrorMessage}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
