
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/dashboard" class="nav-link" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a  routerLink="/manageroutes" class="nav-link" type="button">Manage Routes</a>
        </li>
        
        <li class="nav-item">
          <a  routerLink="/managebuses" class="nav-link" type="button" >Manage Buses</a>       
        </li>

        <li class="nav-item">
          <a  routerLink="/managetrips" class="nav-link" type="button">Manage Trips</a>
        </li>
      </ul>

<div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
          Analytics
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
         
         <a  routerLink="/frequent-routes" class="dropdown-item" type="button">Frequent Routes</a>
         <a  routerLink="/record-profit" class="dropdown-item" type="button">Last Month Record Profit</a>
         <a  routerLink="/reservation-details" class="dropdown-item" type="button">Reservation Details of Customers</a>
         <a  routerLink="/preferred-bus" class="dropdown-item" type="button">Most preferred Bus </a>
         <a  routerLink="" class="dropdown-item" type="button">Sign Out</a>
           
        </div>
      </div>
    </div>
    </div>
  </nav>
  
  <div class="container">
    <table class="table table-bordered">
    
    <tr>
    <th> BookingID</th>
    <th>User Registered</th>
    <th> User Id </th>
    <th> Guest Id </th>
    <th> Booking Date </th>
    <th> Status </th>
    <th> Trip Id </th>
    <th> Boarding </th>
    <th>Arrival</th>
    <th>Feedback</th>
    <th>Amount</th>
    </tr>

  
      <tr *ngFor="let bus of buses">
        <td>{{bus.BookingID}}</td>
        <td>{{bus.UserRegistered}} </td>
        <td>{{bus.UserId}}</td>
        <td>{{bus.GuestId}}</td>
        <td> {{bus.BookingDate}}</td>
        <td> {{bus.Status}}</td>
        <td> {{bus.TripId}}</td>
        <td>{{bus.Boarding}}</td>
        <td>{{bus.Arrival}}</td>
        <td>{{bus.Feedback}}</td>
        <td>{{bus.Amount}}</td>
        </tr>
    </table>

    </div>
