
  
  <div class="container">
    <table class="table table-bordered">
    
    <tr>
    <th> BookingID</th>
    <th>User Registered</th>
    <th> User Id </th>
    <th> Guest Id </th>
    <th> Booking Date </th>
    <th> Status </th>
    <th> Trip Id </th>
    <th> Boarding </th>
    <th>Arrival</th>
    
    <th>Amount</th>
    </tr>

  
      <tr *ngFor="let bus of buses">
        <td>{{bus.BookingID}}</td>
        <td>{{bus.UserRegistered}} </td>
        <td>{{bus.UserId}}</td>
        <td>{{bus.GuestId}}</td>
        <td> {{bus.BookingDate}}</td>
        <td> {{bus.Status}}</td>
        <td> {{bus.TripId}}</td>
        <td>{{bus.Boarding}}</td>
        <td>{{bus.Arrival}}</td>
        
        <td>{{bus.Amount}}</td>
        </tr>
    </table>

    </div>
