.bg-red{
    background-color: #D5202F;
}
.bg-white{
    background-color: #FFFFFF;
}
.bg-darkred{
    background-color: #A42832;
}
.bg-black{
    background-color:#02070A;
}
.bg-grey{
    background-color: #ADADAD;
}
.font-oswald{
    font-family: 'Oswald', sans-serif;
}
.text-red{
    color: #D5202F;
}
.text-white{
    color: #FFFFFF;
}
.text-darkred{
    color: #A42832;
}
.text-black{
    color:#02070A;
}
.text-grey{
    color: #ADADAD;
}
