
  

  <div class="container">
      <table class="table table-bordered">
          <tr>
              <th>Booking Id</th>
              <th>User Id</th>
              <th>Guest Id</th>
              <th>Last Month</th>
              <th>Amount</th>
          </tr>

          <tr *ngFor="let detail of details">
              <td>{{detail.BookingID}}</td>
              <td>{{detail.UserId}}</td>
              <td>{{detail.GuestId}}</td>
              <td>{{detail.LastMonth}}</td>
              <td>{{detail.Amount}}</td>
          </tr>
          <tr>
              <td colspan="4" class="text-right">Total</td>
              <td>{{totalAmount}}</td>
          </tr>
      </table>

      
  </div>