
  <div class="container">
      <table class = "table table-bordered">
          <tr>
              <th>Id</th>
              <th>BusID</th>
              <th>RouteID</th>
              <th>Admin</th>
              <th>CostPerKm</th>
              <th>Status</th>
             
              
          </tr>

          <tr *ngFor="let trip of trips let i = index">
             
              <td>{{trip.trip.Id}}</td>
              <td>{{trip.trip.BusID}}</td>
              <td>{{trip.trip.RouteID}}</td>
              <td>{{trip.trip.Admin}}</td>
              <td>{{trip.trip.CostPerKm}}</td>
              <td>{{trip.trip.Status}}</td>
               <td>
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne">
                        <button class="btn btn-primary">Trip Stops</button>
                      </button>
                    </h2>
                </div>

                <div [id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                        <table class="table table-bordered">
                           <tr>
                           
                            <th>Stop</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                           </tr>
                           <tr  *ngFor="let tripstop of trip.tripStops">
                               
                            
                            <td>{{tripstop.Stop}}</td>
                            <td>{{tripstop.ArrivalTime}}</td>
                            <td>{{tripstop.DepartureTime}}</td>
                           </tr>
                        </table>
                    </div>
                        </div>
                </div>
                </div>
              </div>
                </td>
              
            
              </tr>
      </table>
  </div>

 